:root {

    /* Set sans-serif & mono fonts */
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
      "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
      "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  
    --header-bg: #d19696;
    --bg: white;
    --nav: #b99797;
    --box-bg:#d8bebe;
    --text: #dcdcdc;
    --text-light: #ababab;
    --border: #666;
    --image_border_color: #666;
    --image_border_px: 2px;
    --image_width: 100px;
    --image_height: 100px;
    --title-text: rgb(212, 91, 91);
    --description-text: rgb(161, 120, 120);
  
}

html {
    font-family: var(--sans-font);
    scroll-behavior: smooth;
}
body {
    background-color: var(--bg);
    font-size: 1.15rem;
    line-height: 1.5;
    display: grid;
    grid-template-areas: 
        "A A"
        "B B"
        "B B"
        "B B";
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: var(--header-bg);
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    border-bottom: var(--border) 1px solid;
    grid-area: A;
    z-index: 100;
}
.header_img img {
    height: var(--image_height);
    width: var(--image_width);
    border: var(--image_border_px) solid var(--image_border_color);
    border-radius: 50%;
    margin: 1em;
}
.icon {
    vertical-align: sub;
    padding-right: 0.25rem;
    display: inline-block;
    width: 1em;
    height: 1.3em;
    margin-right: 0.2rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
h1,h2,h3 {
    line-height: 1.1;
}
main {
    top: 8em;
    padding-left: 50%;
    display: grid;
    text-align: center;
    grid-template-columns: 18em auto;
    padding-top: 1.5rem;
    grid-area: B;
}
.side_nav {
    position: fixed;
    left: 0;
    top: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 18em;
    height: 100%;
    background-color: var(--header-bg);
    border-right: 1px solid var(--border);
}
nav {
    font-size: 1rem;
    line-height: 2;
    padding: 1rem 0 0 0;
}
nav a, nav a:visited {
    width: 150px;
    height: 50px;
    margin: 0 1rem 1rem 0;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.side_nav nav a,
.side_nav a:visited {
    width: 200px;
}
nav a:hover {
    color: #ffb300;
    border-color: #ffb300;
}
.content {
    padding: 1em;
    border-bottom: #666 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sector {
    margin-bottom: 8em;
}
strong {
    scroll-margin-top: 8em;
    color: var(--title-text);
    font-size: larger;
    border-bottom: var(--description-text) 3px dashed;
    border-top: var(--description-text) 3px dashed;
}
.box {
    width: 700px;
    background-color: var(--box-bg);
    border: var(--image_border_px) solid var(--image_border_color);
    margin-top: 2em;
    grid-template-rows: 80% 10% 10%;
}
.photo-box img, .youtube-box iframe, .ppt-box iframe {
    width: 80%;
    margin: 20px;
}
.title {
    color: var(--title-text);
}
.description {
    color: var(--description-text);
    overflow: auto;
}